@use '../abstract/_mixins' as mixin;
@use '../abstract/_variables';
@use '../abstract/_themes';




    .gameUI {
        position: var(--positionFixed);
        @include mixin.flexCenter(flex, start, center);
        flex-direction: column;
        margin: 0 auto;
        min-width: 100%;
        max-width: 1440px;
        height: 100vh;
        background-color: var(--mainbackgroundColor);
    }

    .gameField {
        @include mixin.flexCenter(grid, center, center);
        column-gap: 6px;
        row-gap: 6px;
        justify-items: center;
        margin-top: 41px;
        width: 100%;
        max-width: max-content;
        box-sizing: border-box;
        background-color: transparent;
    }

    .headGameInfo {
        @include mixin.flexCenter(flex, space-between);
        margin-top: 41px;
        width: 100%;
        max-width: 1217px;
        height: 62px;
        background-color: var(--headInfoBackgroundColor);
    }

    .playerInfo {
        padding: 17px 20px;
        box-sizing: border-box;
        @include mixin.flexCenter(flex, start, center);
        width: 292px;
        height: 62px;
        background-color: var(--playerInfoBackgroundColor);

        >.player1,
        >.player2 {
            gap: 5px;
            @include mixin.flexCenter(flex, start, center);
            width: 100%;
            height: 100%;
        }
    }

    .currentPlayer {
        @include mixin.flexCenter(flex, center, end);
        height: 62px;
        background-color: var(--headInfoBackgroundColor);
        font-size: 26px;

        >img {
            margin: 0px 0px 5px 5px;
        }

    }

    .exitGame {
        content: var(--exitImg);
        height: 62px;
        width: 207px;
        background-color: var(--exitImgBackgroundColor);

        &:hover {
            cursor: pointer;
            outline: 3px solid rgb(237, 240, 62);
            box-shadow: 0 0 8px rgb(238, 222, 79);
        }
    }

    .card {
        @include mixin.flexCenter(flex, center, center);
        width: 120px;
        height: 120px;
        cursor: pointer;
        position: relative;
        right: 500px;
        opacity: 0;
        backface-visibility: hidden;
        animation: show 0.5s ease-in-out forwards 0.5s;

        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 300ms ease-in-out;
        }

        &__face {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0px;
            background-color: black;
            backface-visibility: hidden;

            &--back {
                width: 100%;
                height: 100%;
                // padding-right:5px;
                transform: rotateY(180deg);
                background-color: rgb(143, 119, 119);
            }
        }
    }

    @keyframes show {
        0% {
            right: 500px;
            opacity: 0;
        }

        100% {
            right: 0px;
            opacity: 1;
        }
    }

    .matched {
        margin: 0px;
    }

    .machedImg {
        outline: 3px solid rgb(226, 140, 42);
        box-shadow: 0 0 8px rgb(226, 140, 42);

    }


