@use '../abstract/_mixins' as mixin;
@use '../abstract/_variables';
@use '../abstract/_themes';




.gameUI {
    position: var(--positionFixed);
    @include mixin.flexCenter(flex, start, center);
    flex-direction: column;
    margin: 0 auto;
    min-width: 100%;
    max-width: 1440px;
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--mainbackgroundColor);
}

.gameField {
    @include mixin.flexCenter(grid, center, center);
    column-gap: 6px;
    row-gap: 6px;
    gap: var(--gap);
    justify-items: center;
    margin-top: 41px;
    width: 100%;
    max-width: max-content;
    box-sizing: border-box;
    background-color: transparent;
}

.headGameInfo {
    @include mixin.flexCenter(flex, space-between);
    margin-top: 41px;
    width: 100%;
    max-width: 1217px;
    height: var(--headInfoheight);
    padding: var(--headInfoPadding);
    background-color: var(--headInfoBackgroundColor);
}

.playerInfo {
    padding: 17px 20px;
    box-sizing: border-box;
    @include mixin.flexCenter(flex, start, center);
    width: var(--playerInfowidth);
    height: var(--playerInfoHeight);
    background-color: var(--playerInfoBackgroundColor);
    border-radius: var(--playerInfoBorderRadius);
    border-color: var(--playerInfoborderColor);
    >.player1,
    >.player2 {
        gap: 5px;
        @include mixin.flexCenter(flex, start, center);
        width: 100%;
        height: 100%;
        
    }
    >.player1 {
        color:var(--player1InfoNumberColor);
        font-size:30px;
    }
    >.player2 {
        color:var(--player2InfoNumberColor);
        font-size:30px;
    }
}

.currentPlayer {
    @include mixin.flexCenter(flex, center, center);
    height: 62px;
    background-color: var(--headInfoBackgroundColor);
    font-size: var(--currentPlayerFontSize);
    gap: 10px;
    color:var(--currentPlayerColor);
    >img {
        // border-radius: 15px;
        margin: 0px 0px 5px 5px;
    }

}

.currentPlayerImg {
    border: 0.5px solid rgb(0, 0, 255, 0.1);
    border-radius: 5px;
    // background-color: transparent;
    padding: 5px;
    @include mixin.flexCenter(flex, center, end);
}

.exitGame {
    @include mixin.flexCenter(flex, center, center);
    gap: 10px;
    height: 64px;
    width: 213px;
    padding: 0px;
    box-shadow: var(--defaultExitButtonShadow);
    border-radius: 10px;
    background-color: var(--exitImgBackgroundColor);
     &:hover {
        box-shadow: var(--exitBoxShadow);
        border-radius: var(--exitButtonBorderRadius);
        width: 213px;
        height: 64px;
        background-color: var(--exitButtonBackgroundColorHover);
        cursor: pointer;
        > img {
            content: var(--exitButtonIcon);
        }
        > p{
            color: var(--exitHoverColor);
        }
    }
    > img{
        width: 30px;
        height: 30px;
    }
    > p{
        color: var(--exitButtonParagraphColor);
        font-size: 24px;
    }
    }
    


.exitGamePopup {
    @include mixin.flexCenter(flex, center, center);
    flex-direction: column;
    position: fixed;
    border-radius: var(--borderRadius);
    top: -290px;
    translate: transformY(50%);
    transform: translateX(50%);
    right: 50%;
    width: 539px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    height: 270px;
    gap: 54px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 15;

    >p {
        color: black;
        letter-spacing: 0.5px;
        margin: 0px;
        font-weight: 700;
        font-size: 32px;
    }

    .buttons {
        
        >.no { //back to game button
            background-color: var(--backToGameButtonBackgroundColor);
            color: var(--exitButtonPColor);
            padding: 15px 20px;
            border: 2px solid var(--backToGameButtonBackgroundColor);
            border-radius: var(--borderRadius);
            cursor: pointer;
            &:hover {
                color: var(--exitButtonPColorHover);
                background-color: var(--backToGameButtonBackgroundColorHover);
                border: 2px solid var(--backToGameButtonBorderColor);
            }
        }
        >.yes { // exit game button
            background-color: var(--exitGameButtonBackgroundColor);
            color:var(--exitButtonYesColor);
            padding: 15px 20px;
            border-color:var(--exitButtonYesBorder);
            border-radius: var(--borderRadius);
            box-shadow: var(--exitButtonHoverShadowNormal);
            cursor: pointer;
            &:hover{
                background-color: var(--exitButtonYesBackgroundColorHover);
                box-shadow: var(--exitButtonHoverShadow);
            }
        }
    }
}

.exitPopupWrapper{
    position: fixed;
    display:block;
    opacity: 0;
    top: -100%;
    right:0px;
    translate: transformX(50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.card {
    @include mixin.flexCenter(flex, center, center);
    width: var(--cardwidth);
    height: var(--cardheight);
    cursor: pointer;
    position: relative;
    right: 500px;
    opacity: 0;
    backface-visibility: hidden;
    animation: show 0.5s ease-in-out forwards 0.5s;

    &__inner {
        position: relative;
        width: var(--card_inner_width);
        height: var(--card_inner_height);
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face {
        width: var(--card_inner_face_width);
        height: var(--card_inner_face_height);
        border-radius: var(--cardRadius);
        position: absolute;
        inset: 0px;
        background-color: black;
        backface-visibility: hidden;

        >img {
            width: var(--card_inner_face_img_width);
            height: var(--card_inner_face_img_height);
            position: relative;
            left: var(--left);
            top: var(--top);
        }

        &--back {


            width: var(--card_inner_face_back_width);
            height: var(--card_inner_face_back_height);
            transform: rotateY(180deg);

            background-color: transparent;
        }
    }
}

@keyframes show {
    0% {
        right: 500px;
        opacity: 0;
    }

    100% {
        right: 0px;
        opacity: 1;
    }
}

.matched .card__face {
    outline: var(--outline);
}

.machedImg {
    outline: var(--outlineMatchedImg);
    box-shadow: var(--shadowMatchedImg);
    width: var(--widthMatchedImg);
}