
:root, 
[data-theme="codeVibes"] {
    --mainbackgroundColor: rgb(48,49,49);
    --headInfoBackgroundColor: transparent;
    --playerInfoBackgroundColor: rgb(69, 97, 97);
    --exitImgBackgroundColor: rgb(69, 97, 97);
    --exitBoxShadow: inset 0 0 2px 5px rgb(73, 202, 178);        // äußerer Glow bleibt
    --exitButtonBorderRadius: 0px;
    --exitImg:url(/project/assets/img/exitButton_default1.svg);
    --exitButtonHover: url(/project/assets/img/exitButton_hover.svg);
    --cardRadius: 0px;
    --gap: 15px;
    --outline: none;
    --card_face_height: 129px;

    --cardwidth: 120px;
    --cardheight: 120px;
    --card_inner_width: 108px;
    --card_inner_height: 118px;
    --card_inner_face_width: 95%;
    --card_inner_face_height: 100%;
    --card_inner_face_back_width: 100%;
    --card_inner_face_back_height: 100%;
    --card_inner_face_img_width: 125px;
    --card_inner_face_img_height: 103%;
    
    // img itself
    --left: -5px;
    --top: -5px;

    // matchedImg
    --outlineMatchedImg: 3px solid rgb(226, 140, 42);
    --shadowMatchedImg: 0 0 8px rgb(226, 140, 42);
    --widthMatchedImg: 100px;

    // exitButton
    --backToGameButtonBackgroundColor: rgb(102,207,188);
    --exitGameButtonBackgroundColor: rgb(238,252,249);
    --borderRadius: 0px;
    
}

[data-theme="gaming"] {
    --mainbackgroundColor: rgb(41,79,96);
    --headInfoBackgroundColor: rgb(84,93,117);
    --playerInfoBackgroundColor: rgb(84,93,117);
    --exitHoverColor: red;
    --exitButtonBorderRadius: 5px;
    --exitImgBackgroundColor: transparent;
    --exitImg:url(/project/assets/img/exitButton-gamingTheme.svg);
    --cardRadius: 15px;
    --gap: 3px;
    --outline:  3px solid rgb(240, 140, 27);
    --card_face_height: 137px;

    // card
    --cardwidth: 120px;
    --cardheight: 120px;
    --card_inner_width: 108px;
    --card_inner_height: 118px;
    --card_inner_face_width: 98%;
    --card_inner_face_height: 100%;
    --card_inner_face_back_width: 100%;
    --card_inner_face_back_height: 100%;
    --card_inner_face_img_width: 128px;
    --card_inner_face_img_height: 117%;
    
    // img itself
    --left: -5px;
    --top: -5px;

    // matchedImg
    --outlineMatchedImg: unset;
    --shadowMatchedImg: unset;
    --widthMatchedImg: unset;

    // exitButton
    --backToGameButtonBackgroundColor: red;
    --exitGameButtonBackgroundColor: rgb(240,229,238);
    --borderRadius: 10px;
    --borderRadiusMakro: 20px;
}

[data-theme="daproject"] {    
    --mainbackgroundColor: rgb(255, 255, 255);
    --headInfoBackgroundColor: rgb(240,243,244);
    --playerInfoBackgroundColor: rgb(240,243,244);
    --exitImgBackgroundColor: transparent;
    --exitHoverColor: rgb(30,117,148);
    --exitButtonBorderRadius: 5px;
    --exitImg:url(/project/assets/img/exitButton-daprojectsTheme.svg);
    --cardRadius: 15px;
    --gap: 5px;
    --outline: 3px solid rgb(30,117,148);
    --card_face_height: 137px;
    // card

    --cardwidth: 118px;
    --cardheight: 100px;
    --card_inner_width: 108px;
    --card_inner_height: 118px;
    --card_inner_face_width: 98%;
    --card_inner_face_height: 91px;
    --card_inner_face_back_width: 103%;
    --card_inner_face_back_height: 78%;
    --card_inner_face_img_width: 110px;
    --card_inner_face_img_height: 114%;

   
    // img itself
    --left: 0px;
    --top: -7px;

    // matchedImg
    --outlineMatchedImg: unset;
    --shadowMatchedImg: unset;
    --widthMatchedImg: unset;

    // exitButton
    --backToGameButtonBackgroundColor: rgb(191,229,242);
    --exitGameButtonBackgroundColor: rgb(253,138,129);
    --borderRadius: 10px;
    --borderRadiusMakro: 20px;
}