
:root, 
[data-theme="codeVibes"] {

    // font-family
    --fontFamily: 'Red Rose', sans-serif;

    --headInfoheight: 62px;
    --headInfoPadding: 0px 0px;
    --mainbackgroundColor: rgb(48,49,49);
    --headInfoBackgroundColor: transparent;
    
    // playerInfo
    --playerInfoBackgroundColor: rgb(69, 97, 97);
    --playerInfowidth: 292px;
    --playerInfoHeight: 62px;
    --playerInfoBorderRadius: 0px;
    --playerInfoborderColor: rgb(221, 225, 235, 0.0);
    // player1
    --player1InfoNumberColor:rgb(9,127,197);
    // player2
    --player2InfoNumberColor: rgb(241, 89, 18);
    // current player
    --currentPlayerFontSize: 26px;
    --currentPlayerColor: white;
    
    --exitImgBackgroundColor: rgb(69, 97, 97);
    --exitBoxShadow: inset 0 0 2px 5px rgb(73, 202, 178);        // äußerer Glow bleibt
    --exitButtonHoverShadow:inset 0 0 3px 2px rgb(73, 202, 178),
     0.5px 0.5px 3px 0px rgb(139, 226, 210);

    --exitHoverColor: rgb(255, 255, 255);
    --exitButtonBackgroundColorHover:rgb(69, 97, 97);
    --exitButtonYesBackgroundColorHover: rgb(209, 238, 231);
    --defaultExitButtonShadow: inset 0 0 1px 3px rgb(73, 202, 178);
    --exitButtonBorderRadius: 10px;
    --exitGameButtonBackgroundSize: cover;
    --exitImg:url(/project/assets/img/exitButton_default1.svg);
    --exitButtonHover: url(/project/assets/img/exitButton_hover.svg);
    --exitButtonParagraphColor: rgb(255, 255, 255);

    --cardRadius: 0px;
    --gap: 15px;
    --outline: none;
    --card_face_height: 129px;

    --cardwidth: 120px;
    --cardheight: 120px;
    --card_inner_width: 108px;
    --card_inner_height: 118px;
    --card_inner_face_width: 95%;
    --card_inner_face_height: 100%;
    --card_inner_face_back_width: 100%;
    --card_inner_face_back_height: 100%;
    --card_inner_face_img_width: 125px;
    --card_inner_face_img_height: 103%;
    
    // img itself
    --left: -5px;
    --top: -5px;

    // matchedImg
    --outlineMatchedImg: 3px solid rgb(226, 140, 42);
    --shadowMatchedImg: 0 0 8px rgb(226, 140, 42);
    --widthMatchedImg: 100px;

    // exitButton
    --exitButtonHoverShadowNormal:inset 0 0 2px 1px rgb(105, 199, 206),
     0px 0px 1px 0px rgb(113, 207, 199);
     --backToGameButtonBackgroundColor: rgb(73,202,178);
     --backToGameButtonBackgroundColorHover: rgb(148,222,208);
     --backToGameButtonBorderColor: rgb(73, 193, 209);
     --exitButtonPColor: rgb(255, 255, 255);
    --exitButtonYesColor: rgb(73,202,178);
    --exitButtonYesBorder: 3px solid rgb(73, 202, 178);
    --exitButtonPColorHover: rgb(255, 255, 255);
    --exitGameButtonBackgroundColor: rgb(209, 238, 231);
    --borderRadius: 0px;
    
    --borderRadiusHomeButton: 0px;
    --backgroundColorHomeButton: rgb(65, 86, 82);
    --backgroundColorHomeButtonHover: rgb(73, 94, 95);
    --drawButtonBackgroundColorHover: rgb(188, 195, 196);
    --borderColorHomeButton: rgb(65, 86, 82);
    --pColorButton: white;

    --mainScoreBackgroundColor:rgb(240, 234, 110);
    --mainScoreborderRadius:0px;
    --mainScoreBorderColor:rgb(240, 234, 110);
    
    
}

[data-theme="gaming"] {
    // font-family
    --font-family: 'Orbitron', sans-serif;

    --headInfoheight: 102px;
    --headInfoPadding: 0px 20px;
    --mainbackgroundColor: rgb(41,79,96);
    --headInfoBackgroundColor: rgb(84,93,117);

    // playerInfo
    --playerInfoBackgroundColor: rgb(221, 225, 235);
    --playerInfowidth: 182px;
    --playerInfoHeight: 54px;
    --playerInfoBorderRadius: 10px;
    --playerInfoborderColor: rgb(221, 225, 235);
    // player1
    --player1InfoNumberColor: rgb(241, 89, 18);
    // player2
    --player2InfoNumberColor: rgb(9,127,197);
    // currentPlayer
    --currentPlayerFontSize: 32px;
    --currentPlayerColor: white;

    --exitButtonBackgroundColorHover:rgba(243, 12, 12, 0.13);
    --exitHoverColor: rgb(255, 255, 255);
    --exitButtonBorderRadius: 10px;
    --exitImgBackgroundColor: transparent;
    --exitBoxShadow: inset 0 0 3px 5px rgb(197, 42, 42);
    --exitGameButtonBackgroundSize: contain;
    --exitImg:url(/project/assets/img/exitButton-gamingTheme.svg);
    --exitButtonParagraphColor: rgb(255, 255, 255);

    --exitButtonYesBackgroundColorHover: rgb(255, 203, 203, 0.8);
    --exitButtonHoverShadow:inset 0 0 3px 1px rgb(202, 73, 73),
     0.5px 0.5px 3px 1px rgb(226, 139, 139);
    --defaultExitButtonShadow: inset 0 0 1px 3px rgb(209, 48, 8);
    --exitButtonIcon: url(/project/assets/icons/exit_icon_red.svg);
    
    --cardRadius: 15px;
    --gap: 3px;
    --outline:  3px solid rgb(240, 140, 27);
    --card_face_height: 137px;

    // card
    --cardwidth: 120px;
    --cardheight: 120px;
    --card_inner_width: 108px;
    --card_inner_height: 118px;
    --card_inner_face_width: 98%;
    --card_inner_face_height: 100%;
    --card_inner_face_back_width: 100%;
    --card_inner_face_back_height: 100%;
    --card_inner_face_img_width: 128px;
    --card_inner_face_img_height: 117%;
    
    // img itself
    --left: -5px;
    --top: -5px;

    // matchedImg
    --outlineMatchedImg: unset;
    --shadowMatchedImg: unset;
    --widthMatchedImg: unset;

    // exitButton
    --exitButtonHoverShadowNormal:inset 0 0 0px 0px rgb(105, 199, 206),
     0px 0px 0px 0px rgb(113, 207, 199);
    --exitButtonShadowNormal:inset 0 0 0px 0px rgba(253, 138, 129, 1),
     0px 0px 0px 0px rgb(226, 139, 139);
    --backToGameButtonBackgroundColor: red;
    --backToGameButtonBackgroundColorHover: rgb(255, 255, 255);
    --exitButtonPColor: rgb(255, 255, 255);
    --exitButtonYesColor: rgb(221, 12, 12);
    --exitButtonPColorHover: rgb(230, 12, 12);
    --exitButtonYesBorder:rgb(196, 46, 46);
    --backToGameButtonBorderColor: rgb(245, 58, 1);

    --exitGameButtonBackgroundColor: rgb(240,229,238);
    --borderRadius: 10px;
    --borderRadiusMakro: 20px;

    --borderRadiusHomeButton: 10px;
    --backgroundColorHomeButton: transparent;
    --backgroundColorHomeButtonHover: rgba(245, 177, 177, 0.1);
    --drawButtonBackgroundColorHover: rgb(255, 226, 226, 0.1);
    --borderColorHomeButton: rgb(194, 16, 16);
    --pColorButton: white;

    --mainScoreBackgroundColor:rgb(245, 245, 240);
    --mainScoreborderRadius:15px;
    --mainScoreBorderColor:rgb(245, 245, 245);
}

[data-theme="daproject"] {  
    // font-family
    --font-family: 'Figtree', sans-serif;
    
    --headInfoheight: 102px;
    --headInfoPadding: 0px 20px;
    // playerInfo
    --playerInfoBackgroundColor: rgb(255, 255, 255);
    --playerInfowidth: 156px;
    --playerInfoHeight: 54px;
    --playerInfoBorderRadius: 10px;
    --playerInfoborderColor: rgb(221, 225, 235);
    // player1
    --player1InfoNumberColor: rgb(241, 89, 18);
    // player2
    --player2InfoNumberColor: rgb(9,127,197);
    // current player
    --currentPlayerFontSize: 32px;
    --currentPlayerColor: blue;
    
    --mainbackgroundColor: rgb(255, 255, 255);
    --headInfoBackgroundColor: rgb(199, 219, 224);
    --exitButtonHoverShadowNormal:inset 0 0 0px 0px rgb(105, 199, 206),
     0px 0px 0px 0px rgb(113, 207, 199);

    --exitButtonBackgroundColorHover: rgb(30,117,148);
    --defaultExitButtonShadow: inset 0 0 0px 0px rgb(241, 241, 241);
    --playerInfoBackgroundColor: rgb(240,243,244);
    --exitImgBackgroundColor:rgb(156, 210, 228);
    --exitBoxShadow: inset 0 0 0px 0px rgb(247, 247, 247);
    --exitHoverColor: rgb(255, 255, 255);
    --exitButtonBorderRadius: 10px;
    --exitButtonIcon: url(/project/assets/icons/exit_icon_white.svg);
    --exitButtonParagraphColor:rgb(30,117,148);
    --exitImg:url(/project/assets/img/exitButton-daprojectsTheme.svg);
    --cardRadius: 15px;
    --gap: 5px;
    --outline: 3px solid rgb(30,117,148);
    --card_face_height: 137px;
    // card

    --cardwidth: 118px;
    --cardheight: 100px;
    --card_inner_width: 108px;
    --card_inner_height: 118px;
    --card_inner_face_width: 98%;
    --card_inner_face_height: 91px;
    --card_inner_face_back_width: 103%;
    --card_inner_face_back_height: 78%;
    --card_inner_face_img_width: 110px;
    --card_inner_face_img_height: 114%;

   
    // img itself
    --left: 0px;
    --top: -7px;

    // matchedImg
    --outlineMatchedImg: unset;
    --shadowMatchedImg: unset;
    --widthMatchedImg: unset;

    // exitButton
    --exitButtonYesBorder: rgb(196, 61, 27);
    --backToGameButtonBorderColor: rgb(30,117,148);
    --exitButtonShadowNormal:inset 0 0 3px 1px rgba(253, 138, 129, 1),
     0.5px 0.5px 3px 1px rgb(226, 139, 139);
    --exitButtonHoverShadow:inset 0 0 0px 0px rgb(209, 58, 47),
     0px 0px 0px 0px rgb(226, 139, 139);
    --exitButtonPColor: rgb(30,117,148);
    --exitButtonYesColor: rgb(243, 238, 238);
    --exitButtonPColorHover: rgb(254, 255, 255);
    --exitButtonYesBackgroundColorHover: rgba(253,138,129, 1);
    --backToGameButtonBackgroundColor:rgb(131, 202, 226);
    --exitGameButtonBackgroundColor: rgba(253,138,129, 0.8);
    --backToGameButtonBackgroundColorHover: rgb(30,117,148);
    --borderRadius: 10px;
    --borderRadiusMakro: 20px;

    --borderRadiusHomeButton: 10px;
    --backgroundColorHomeButton: rgb(16, 158, 194);
    --backgroundColorHomeButtonHover: rgb(42, 192, 230);
    --drawButtonBackgroundColorHover: rgb(46, 222, 231);
    --borderColorHomeButton: rgb(16, 158, 194);
    --pColorButton: rgb(16, 19, 187);

    --mainScoreBackgroundColor:rgb(245, 245, 240);
    --mainScoreborderRadius:15px;
    --mainScoreBorderColor:rgb(245, 245, 245);
}