
// @use '../styles/components/_cards';
@use '../styles/base/_style.scss';
@use '../styles/components/startScreen';
@use '../styles/components/_gameSettings';
@use '../styles/components/_gameUI';
@use '../styles/components/_results';
@use '../styles/abstract/themes';

font-face {
    font-family: "Red Rose";
    src: url("../fonts/Red_Rose/RedRose-Regular.ttf");
}
font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron/Orbitron-Regular.ttf");
}
font-face {
    font-family: "Figtree";
    src: url("../fonts/Figtree/Figtree-Regular.ttf");
}
font-face {
    font-family: 'Almaria';
    src: url("../fonts/Almaria/Almaria-Regular.ttf");
}

